@media (max-width: 575px) 
{
	header ul.menu a
	{
		margin-right: 6px;
	}

	header ul.menu
	{
		margin-left: 0px !important;
	}

	.col-header-logo
	{
		padding-left: 15px !important;
	}

	.col-header-phone
	{
		padding-right: 15px !important;
	}

	.bl_stories .content .desc
	{
		text-align: justify;
	}

	.stories_frame button.preview
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	.tour-card .cont-lt
	{
		top: 10px !important;
		left: 10px !important;
		width: 65%;
	}

	.tour-card h2.tour-title
	{
		margin-bottom: 5px !important;
		font-size: 24px !important;
		line-height: 1.0;
		margin-top: 5px;
	}

	.tour-card .tour-price
	{
		margin-top: 5px !important;
	}

	.bl_about-tours-v2 .content
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.bl_about-tours-v2 .processing .content
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	.bl_reviews .content .desc
	{
		padding-left: 0px;
		padding-right: 0px;
    	text-align: justify;
	}

	.booking_frame .col-f
	{
		margin-bottom: 10px;
	}

	.booking_frame .col-f:last-child
	{
		margin-bottom: 0px;
	}

	.price-block
	{
		width: 100%;
		max-width: 320px;
		display: block;
	}

	.price-block span.mt strong
	{
		font-size: 24px;
	}

	.price-block span.mt small
	{
		display: inline;
	}

	.booking_frame span.error
	{
		text-align: center;
	}



	.fsg-header .pos-r
	{
		right: 15px;
	}

	.fs-gallery .caro-arr
	{
		width: 40px;
		height: calc(100vh - 45px);
		height: -webkit-calc(100vh - 45px);
		bottom: 0px;
		top: auto;
	}

	.fs-gallery .caro-arr span#ar
	{
		background-position: 10px;
		background-size: 26px;
	}

	.fs-gallery .caro-prev span#ar
	{
		background-position: 4px;
	}

	.fs-stories .fss-exit
	{
		right: 20px;
		top: 80px;
		z-index: 11;
		background-color: rgba(240, 240, 240, 0.75);
		background-size: 16px;
		height: 30px;
		width: 30px;
		border-radius: 10px;
	}
	
	.fs-stories .fss-wrap .fss-container
	{
		height: 100vh;
	}

	.fs-stories .fss-wrap .fss-header
	{
		position: absolute;
		z-index: 4;
		top: 0px;
		background-color: rgba(31, 31, 31, 0.75);
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		width: 100%;
		height: 75px;
	}

	.fs-stories .fss-wrap .lower
	{
		margin-top: -5px;
	}

	.fs-stories .fss-wrap .fss-body
	{
		height: 100vh;
	}

	.fs-stories .fss-prev
	{
		left: 15px;
		z-index: 10;
		top: 0px;
		height: 100%;
		width: 90px;
		background-size: 75px;
		background-position: -20px center;
	}

	.fs-stories .fss-next
	{
		right: 15px;
		z-index: 10;
		top: 0px;
		height: 100%;
		width: 90px;
		background-size: 75px;
		background-position: -20px center;
	}

	.fs-stories .fss-header span
	{
		font-size: 14px;
		font-family: Regular;
	}





	.bl_single_tour span.covid-note
	{
		margin-top: 30px;
		width: 90%;
		padding-left: 15px;
		padding-right: 15px;
	}







	.bl_blog .container
	{
		padding-left: 15px;
		padding-right: 15px;	
	}

	.other-articles .mini-article-wrap
	{
		width: 100%;
	}

	.mini-article .preview_image
	{
		height: 240px;
	}

	.top-article
	{
		padding-bottom: 10px !important;
		border-bottom: 1px solid #EEE !important;
		margin-bottom: 20px;
	}

	.top-article .bottom
	{
		height: 70px;
	}

	.top-article .bottom .front
	{
		margin-top: 35px;
	}



	.new-blog-style-single .other-articles .mini-article-wrap
	{
		width: 100%;
	}

	.new-blog-style-single .mini-article .preview_image
	{
		height: 240px;
	}

	.new-blog-style-single .other-articles .mini-article-wrap
	{
		height: 390px;
	}



	.ot-f .otf-o-wrap
	{
		width: 100%;
	}

	.ot-f .otf-o-wrap
	{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	.otf-o .image
	{
		height: 250px;
	}

}