@media (max-width: 1199px) 
{
		
		header ul.menu
		{
			margin-left: 20px;
		}
		

		#carouselReviews.carousel .caro-arr
		{
			display: none;
		}

		#carouselReviews.carousel .carousel-indicators
		{
			bottom: -50px;
		}

		#carouselReviews.carousel
		{
			margin-bottom: 20px;
		}

		#carouselReviews.carousel .carousel-indicators li
		{
			width: 17px;
			height: 17px;
			background-color: transparent;
			border: 1px solid #FFF;
			border-radius: 100%;
			transition: background-color 250ms;
			margin-left: 7px;
			margin-right: 7px;
			display: inline-block;
		}

		#carouselReviews.carousel .carousel-indicators li.active
		{
			background-color: #FFF;
		}

		#carouselReviews.carousel .carousel-indicators
		{
			display: block;
			text-align: center;
			bottom: -57px;
		}

		#carouselReviews.carousel .carousel-indicators li
		{
		}

















		.single_day2 .item-photo
		{
			min-height: 290px;
		}

		.gl-gal-wrap .main-photo
		{

		}

		.gl-gal-wrap .previews .small-photos .image
		{
			width: 25%;
			height: 90px;
		}

		.tran-and-accom
		{
			width: 100%;
		}

		.bl_single_tour .desc-wrap
		{
			width: 100%;
		}

		.single_day2 .item-photo
		{
			min-height: 330px;
		}







		.new-blog-style
		{
			width: 100%;
		}

		.new-blog-style .top-article
		{
			height: 320px;
		}

		.other-articles .mini-article-wrap
		{
			width: 296px;
		}



		.new-blog-style-single
		{
			width: 100%;
		}

		.new-blog-style-single .mini-article-wrap
		{
			width: 284px;
		}

		.new-blog-style-single .mini-article .preview_image
		{
			height: 170px;
		}

		.new-blog-style-single .other-articles .mini-article-wrap
		{
			height: 330px;
		}

		.new-blog-style-single .mini-article .bottom
		{
			bottom: -2px;
		}








		.otf-o-wrap
		{
			width: 294px;
		}

		.otf-o .image
		{
			height: 180px;
		}




		.ot-f-all .otf-o-wrap
		{
			width: 293px;
		}
}