@media (max-width: 389px) 
{

	header .phone
	{
		text-align: center;
		width: 155px;
	}

	header .phone span
	{
		font-size: 15px;
		width: auto;
	}

	header .logo strong
	{
		font-size: 17px;
	}

	header .logo img
	{
		margin-right: 2px;
		margin-top: 2px;
	}

	.bl_screen .content h1
	{
		width: 100% !important;
		font-size: 32px;
	}

	.bl_screen .content .desc h2
	{
		width: 100% !important;
	}


	.bl_about-tours-v2 .item-photo
	{
		height: 240px !important;
	}

	/*.tour-card
	{
		height: -webkit-calc(100vw / 1.1);
	}

	.tour-card h2.tour-title
	{
		font-size: 20px !important;
	}

	.tour-card .cont-lt
	{
		width: 60%;
	}

	.tour-card .tour-duration
	{
		font-size: 14px !important;
	}

	.tour-card .tour-price
	{
		font-size: 14px !important;
	}

	.cont-lb
	{

	}

	.tour-card .tags span
	{
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 0px;
		padding-bottom: 0px;
	}*/

	.tour-card
	{
		background-position: center -20px;
		background-size: auto 270px;
	}

	.tour-card .workarea
	{
		padding-top: 250px;
	}

	.tour-card .tour-duration, .tour-card p, .tour-card h2.tour-title
	{
		font-size: 16px !important;
		width: 100%;
		padding-right: 20px;
	}

	.tour-card h2.tour-title
	{
		font-size: 24px !important;
	}

	.tour-card .workarea .cont-rt
	{
		margin-top: -15px;
	}

	.tour-card .workarea .cont-lb
	{
		margin-top: 25px;
	}

	.bl_reviews .bl_bg
	{
		filter: blur(3px);
		background-size: 2090px;
		background-position: center 0px;
	}





	.bl_single_tour h1.title
	{
		padding-left: 15px;
		padding-right: 15px;
		font-size: 28px;
	}


	.bl_single_tour span.number-of-days
	{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 16px;
		font-family: RegularItalic;
	}

	.single_day2 .item-photo
	{
		min-height: 240px;
	}

	.tran-and-accom .item-photo
	{
		height: 220px;
	}

	.bl_booking_tour .contact-yourself span.t1
	{
		font-size: 18px;
	}

	.bl_booking_tour .contact-yourself span
	{
		font-size: 16px;
	}



	.tour-dates-bl
	{
		width: 100%;
	}





	.top-article .col-nbs-l
	{
		height: 200px;
	}

	.mini-article .preview_image
	{
		height: 180px;
	}

	.top-article .text
	{
		height: 160px;
	}




	.new-blog-style-single .mini-article .preview_image
	{
		height: 170px;
	}

	.new-blog-style-single .other-articles .mini-article-wrap
	{
		height: 330px;
	}



	





	.otf-o .image
	{
		height: 180px;
	}
}